@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.abr-bg {
    background-color: #edf2f9;
}

.abr-text-blue {
    color: #1479ff;
}

.abr-text-darkblue {
    color: #113462;
}

.abr-text-menu {
    color: #5d7594;
}

.abr-text-pale {
    color: #8a98a9;
}

.abr-box-shadow {
    box-shadow: 0 7px 14px 0 rgba(65,69,88,0.1),0 3px 6px 0 rgba(0,0,0,0.07);
}